.hero-container {
    height: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;

    @media (min-width: @screen-sm) {
        max-height: 650px;
    }

    .hero {
        background-color: @brand-dark-gray;
        color: @brand-white;
        text-align: center;
        padding: 30px 0;
        
        @media (min-width: @screen-sm) {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            margin-bottom: 0;
            padding: 60px 0;
            height: 650px;
            width: 100%;
        }

        h1, 
        .hero-title {
            width: 100%;
            font-family: @font-family-sans-serif-extrabold;
            font-weight: 700;
            color: @brand-white;
            text-align: center;
            letter-spacing: -1px;
            
            padding-top: 20px;
            padding-bottom: 18px;
            padding-left: 0px; // padding supplied by container offset
            padding-right: @grid-gutter-width / 2;

            margin-top: 0;
            margin-bottom: 0;

            @media (min-width: @screen-sm) {
              padding-top: 230px;
            }
        }
        
        h2 {
          
        }

        p {
          text-align: center;
          color: @brand-white;
          font-size: @font-size-base;
          line-height: 20px;
        }

    }

}
