*~
.DS_Store
.svn
.cvs
*.bak
*.swp
uploads/
blogs.dir/
upgrade/*
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*
.smushit-status
.gitattributes
_wpeprivate
object-cache.php
plugins/wordpress-importer
uploads/*
node_modules/
bower_components/

/_data/
/composer/
/wp/
/vendor/
*.sublime*
*composer.lock

#### WordPress Core
# comment out if you want to track wordpress in source
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-local.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
wp-admin/
wp-includes/
wp-content/plugins/*

#### development-environment
dev/
*.dev.js
*.dev.css
*.log

### Theme
wp-content/themes/tbtw/assets/vendor/
#wp-content/themes/mbk/assets/css/main.css
#wp-content/themes/mbk/assets/css/main.css.map
