{% extends "layout.twig" %}

{% block content %}

    {% include "partials/hero-main.twig" %}

    <section class="feature-main">
        <div class="container container-padding">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ assets_dir }}/img/tmp/feature-fpo.png" alt="feature 1">
                    <h4>Behaviour Change</h4>
                    <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ assets_dir }}/img/tmp/feature-fpo.png" alt="feature 2">
                    <h4>Behaviour Change</h4>
                    <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ assets_dir }}/img/tmp/feature-fpo.png" alt="feature 3">
                    <h4>Behaviour Change</h4>
                    <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>
                </div>
            </div>
        </div>
    </section>
    
    {% include "partials/feature-apply-campus.twig" %}
    
    {% include "partials/feature-apply-local.twig" %}
    
{% endblock %}
