{% extends "layout.twig" %}

{% block content %}
    <div class="container container-padding">
        <div class="row">
            <h1>Page not found.</h1>
            <p><a href="/">Return to the Homepage &raquo;</a></p>
        </div>
    </div>
{% endblock %}
