    <section class="feature-apply-local">
        <div class="container container-padding">
            <div class="row">
                <div class="col-sm-5">
                  
                  <h4>Become a Local Coach?</h4>
                  <p>We will provide training, resources, and support around three areas of privacy related activity. We will provide training, resources, and support around three areas of privacy related activity.</p>
                  <a href="#">Apply to become a local coach</a>
                  
                </div>
                
                <div class="col-sm-5 col-sm-offset-1">
                  
                  <h4>Deadlines</h4>
                  <ul>
                    <li>Preliminary launch/applications open - March 7th (estimate)</li>
                    <li>First wave of applications close - March 29th (etimate)</li>
                  </ul>
                  
                </div>
                
            </div>
        </div>
    </section>