    <section class="feature-apply-campus bg-img" style="background-image:url('{{ assets_dir }}/img/tmp/section-1.jpg');">
        <div class="container container-padding">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  
                  <h2>Become a Campus Team?</h2>
                  <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad lra torquent per conubia nostra, per inceptos himenaeos.</p>
                  <a href="#" class="btn btn-default">Apply</a>
                  
                </div>
            </div>
        </div>
    </section>