{% if post.get_thumbnail %}
    {% set post_hero = post.get_thumbnail.get_src|resize(1500) %}
{% elseif post_parent %}
    {% set post_hero = post_parent.get_thumbnail.get_src|resize(1500) %}
{% endif %}

    <div class="hero-container">
        <div class="hero bg-img hero-resize" style="background-image: url('{{ post_hero }}')">
            <div class="hero-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1  col-md-8 col-md-offset-2">
                          <h1 class="hero-title">{{ post.title }}</h1>
                          {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
